<div class="row align-items-center">
  <div class="col-lg-3 col-md-6" *ngFor="let item of listaEmprendedoresFases; index as i;">
    <app-card [hidHeader]="true" [options]="false" [isCardFooter]="true" [footerClass]="getClassFooter(i)">
      <div class="row align-items-center">
        <div class="col-8">
          <h4 class="text-c-yellow" [innerText]="item.cantidad">$30200</h4>
          <h6 class="text-muted m-b-0">Emprendedores</h6>
        </div>
        <div class="col-4 text-right">
          <i class="feather icon-bar-chart-2 f-28"></i>
        </div>
      </div>
      <div class="app-card-footer">
        <div class="row align-items-center">
          <div class="col-9">
            <p class="text-white m-b-0" [innerText]="item.etapa">Registrados</p>
          </div>
          <div class="col-3 text-right">
            <i class="feather icon-trending-up text-white f-16"></i>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<!--div class="row align-items-center">
  <div class="col-md-12">
    <app-card cardTitle="Registros por Meses" [options]="false" *ngIf="summaryChartData">
      <app-apex-chart chartID="summary-chart" [chartConfig]="summaryChartMes"></app-apex-chart>
    </app-card>
  </div>
</div-->

<div class="row align-items-center">
  <div class="col-lg-3 col-md-6" *ngFor="let item of listaInscripcionesFases; index as i;">
    <app-card [hidHeader]="true" [isCardFooter]="true" [footerClass]="getClassFooter(i)" [options]="false">
      <div class="row align-items-center">
        <div class="col-8">
          <h4 class="text-c-yellow" [innerText]="item.cantidad">$30200</h4>
          <h6 class="text-muted m-b-0">Registrados</h6>
        </div>
        <div class="col-4 text-right">
          <i class="feather icon-bar-chart-2 f-28"></i>
        </div>
      </div>
      <div class="app-card-footer">
        <div class="row align-items-center">
          <div class="col-9">
            <p class="text-white m-b-0" [innerText]="item.etapa">Registrados</p>
          </div>
          <div class="col-3 text-right">
            <i class="feather icon-trending-up text-white f-16"></i>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-md-12">
    <app-card cardTitle="Registros por fechas" [options]="false" *ngIf="summaryChartData">
      <app-apex-chart chartID="summary-chart2" [chartConfig]="summaryChartData"></app-apex-chart>
    </app-card>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Emprendedores por su situación laboral" blockClass="p-0 scrollabel-body" [options]="false">
      <div class="mt-3 mb-3" *ngFor="let item of listaSituacionLaboral">
        <span class="px-4 d-block">
          <i class="fas fa-circle text-c-blue f-10 m-r-5"></i> 
          <span class="text-c-green b-b-success">{{item.val1}}</span> de cada 
          <span class="text-c-green b-b-success">{{referenciaVal}}</span> emprendedores son
          <span class="text-c-green b-b-success">{{item.situacion_laboral}}</span>
        </span>
        <hr>
      </div>
    </app-card>
  </div>
</div>


<div class="row align-items-center">
  <div class="col-md-12">
    <app-tablaActividadesDS [id_sub_programa]="id_sub_programa"></app-tablaActividadesDS>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-md-12">
    <app-card cardTitle="Inteligencia de datos" [options]="false" *ngIf="summaryChartData">
      <app-pivot></app-pivot>
    </app-card>
  </div>
</div>


<!--div class="row align-items-center">
  <div class="col-md-12">
    <app-card cardTitle="Reporte de actividades" [options]="false">
      <lib-highcharts-angular 
        [Highcharts]="Highcharts" 
        [options]="barBasicChartOptions" 
        style="width: 100%; height: 450px; display: block;">
      </lib-highcharts-angular>
    </app-card>
  </div>
</div-->
