.fc-time{
    font-size: .85em;
}
.fc-title{
    font-size: .85em;
}
.fc-content{
    margin-top: -5px !important;
}

.fc-widget-content{
    border-color: #f0f2f3;
    background-color: black;
}

.fc td[class*="other-month"]{
    color: #ffffff;
}