<div id="carouselExampleIndicators" class="" data-ride="carousel">
  <div class="modal-content" >
    <div class="modal-body">
      <div class="text-left titulo-modal">
        <img src="images/logo_ce2.png" style="width: 150px;">
      </div>
      <div class="carousel-inner text-center">
        <div class="carousel-item" data-interval="120000" style="display:block;" id="bloque1">
          <div class="row justify-content-center texto-modal">
            <div class="col-lg-9">
              <h4 class="mb-3 texto-modal">¡Bienvenido a nuestro Centro de Emprendimiento Épico!</h4>
              <p class="mb-2 " style="font-size: 15px;">Un espacio donde te ayudaremos a aterrizar tu idea en un modelo de negocio innovador y sostenible.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
