.texto-modal{
    color: #2623a3;
}
.btn-morado{
    background-color: #2623a3 !important;
    border-color: #2623a3 !important;
}
.modal-content{
    background-image: url("../../../../images/fondo.png");
    background-position: center;
}