.btn-morado{
    color: #fff;
    background-color: #7C0AFF;
    border-color: #7C0AFF;
}
.texto-modal{
    color: white;
}
.btn-redondo{
    color: white;
    border-radius: 10px;
}
.modal-content{
    background-image: url("../../../../images/fondo.png");
    background-position: center;
}
.texto-modal{
    color: #2623a3;
}
.btn-morado{
    background-color: #2623a3 !important;
    border-color: #2623a3 !important;
    opacity: 0.9 !important;
}