<div class="row help-desk" [ngClass]="">
    <div class="col-xl-8 col-lg-12 filter-bar">
      <div class="card">
        <div class="card-body">
          <nav class="navbar justify-content-between p-0 align-items-center">
            <h5>Lista de Tickets</h5>
          </nav>
        </div>
      </div>

      <table>
          <tr *ngFor="let ticket of ticketLst">
            <td>
              <div class="ticket-block">
                <div class="row">
                  <div class="col-auto">
                    <img class="media-object wid-60 img-radius" [src]="usuario.url_foto" (error)="pictNotLoading($event)" alt="Generic placeholder image ">
                  </div>
                  <div class="col">
                    <div class="card hd-body">
                      <div class="row align-items-center">
                        <div class="col border-right pr-0">
                          <div class="card-body inner-center">
                            <div class="ticket-customer font-weight-bold">{{ ticket.nombre_usuario_creacion.split(" ")[0] + " " + ticket.apellido_usuario_creacion.split(" ")[0] }}</div>
                            <div class="ticket-type-icon private mt-1 mb-1"><i class="feather icon-lock mr-1 f-14"></i>{{ getCategoryName(ticket.categoria) + ": " + getSubcategoryName(ticket.subcategoria) }}</div>
                            <ul class="list-inline mt-2 mb-0">
                              <li class="list-inline-item"><img src='{{ "assets/images/ticket/" + getStatusImage(ticket.ticket_estado) + ".jpg" }}' alt="" class="wid-20 rounded mr-1 img-fluid">{{ ticket.ticket_estado }}</li>
                              <li class="list-inline-item"><img [src]="ticket.foto_usuario_atencion" (error)="pictNotLoading($event)" alt="" class="wid-20 rounded mr-1 img-fluid">Asignado a {{ getAssignedUser(ticket) }}</li>
                              <li class="list-inline-item"><i class="feather icon-calendar mr-1 f-14"></i>Actualizado {{ getLastDate(ticket) }}</li>
                            </ul>
                            <div class="excerpt mt-4">
                              <h6><img [src]="ticket.foto_usuario_creacion" (error)="pictNotLoading($event)" alt="" class="wid-20 avatar mr-2 rounded">Comentario de <a href="javascript:">{{ ticket.nombre_usuario_creacion + " " + ticket.apellido_usuario_creacion}}</a></h6>
                              <h6>E-mail: <a href="javascript:">{{ ticket.email_usuario_creacion }}</a></h6>
                              <p>
                                {{ getDescriptionName(ticket.descripcion) }}
                                <span *ngIf="ticket.id_reunion">ID Reunion: {{ticket.id_reunion}}</span>
                              </p>
                            </div>
                            <div class="mt-2" *ngIf="(ticket.ticket_estado=='Tomado') && isDeskUser()">
                              <input type="text" class="form-control" 
                                      name="exampleInput1"
                                      [(ngModel)]="ticket.observacion" 
                                      placeholder="Observaciones">
                            </div>
                            <div class="mt-2">
                              <a (click)="updateTicketAttended(ticket)" class="mr-3 text-muted" *ngIf="(ticket.ticket_estado=='Abierto') && isDeskUser()"><i class="feather icon-eye mr-1"></i>Tomar Ticket</a>
                              <a (click)="doneTicketAttended(ticket)" class="mr-3 text-muted" *ngIf="(ticket.ticket_estado=='Tomado') && isDeskUser()"><i class="feather icon-eye mr-1"></i>Finalizar</a>
                              <a (click)="refuseTicketAttended(ticket)" class="text-danger" *ngIf="(ticket.ticket_estado=='Tomado') && isDeskUser()"><i class="feather icon-trash-2 mr-1"></i>Rechazar</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-auto pl-0 right-icon">
                          <div class="card-body">
                            
                          </div>
                        </div>
                        <div class="col-auto hover-blk position-absolute shadow-sm rounded" *ngIf="ticket.ticket_estado=='Resuelto' || ticket.ticket_estado=='Rechazado'">
                          <div class="card-body p-0 pt-2">
                            <div class="img-txt">
                              <img src="images/user.png" alt="" class="wid-20 rounded mr-1 img-fluid">
                              <p>Mesa Servicio respondi&oacute;</p>
                            </div>
                            <p>{{ (ticket.observacion === null)? "" : ticket.observacion }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
      </table>       
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="right-side">
        <div class="card mb-3">
          <div class="card-header">
            <h5>Búsqueda de Tickets</h5>
          </div>
          <div class="card-body p-3">
            <div class="cat-list">
              <div class="border-bottom pb-3">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="javascript:">Tipo Ticket</a>
                  </div>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <select title="Types" name="type" class="mb-3 form-control"
                              id="inputGroupTicketType"
                              [(ngModel)]="selectedTicketType" 
                              name="selectedT"
                              (change)="onSelectionTypeChange(selectedTicketType)">
                          <option *ngFor="let t of ticketTypeLst" 
                                  [ngValue]="t">{{t.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-bottom pb-3 pt-3">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="javascript:">Estado</a>
                  </div>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <select title="Status" name="status" class="mb-3 form-control"
                              id="inputGroupStatus"
                              [(ngModel)]="selectedStatus" 
                              name="selectedC"
                              (change)="onSelectionStatusChange(selectedStatus)">
                          <option *ngFor="let c of statusLst" 
                                  [ngValue]="c">{{c.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-bottom pb-3 pt-3">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="javascript:">Categoria</a>
                  </div>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <select title="Category" name="category" class="mb-3 form-control"
                              id="inputGroupCategory"
                              [(ngModel)]="selectedCategory" 
                              name="selectedC"
                              (change)="onSelectionCategoryChange(selectedCategory)">
                          <option *ngFor="let c of categoryLst" 
                                  [ngValue]="c">{{c.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-bottom pb-3 pt-3">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="javascript:">Subcategoría</a>
                  </div>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <select title="Subcategory" name="subcategory" class="mb-3 form-control"
                              id="inputGroupSubcategory"
                              [(ngModel)]="selectedSubcategory" 
                              name="selectedS"
                              (change)="onSelectionSubcategoryChange(selectedSubcategory)">
                          <option *ngFor="let c of subcategoryLst" 
                                  [ngValue]="c">{{c.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-bottom pb-3 pt-3" *ngIf="isDeskUser()">
                <div class="row">
                  <div class="col-sm-4">
                    <!--<img src="assets/images/ticket/p4.jpg" alt="" class="wid-20 rounded mr-1 img-fluid"> -->
                    <a href="javascript:">Emprendedor</a>
                  </div>
                  <div class="col-sm-8">
                      <div class="custom-control custom-radio" [formGroup]="form" [hidden]="flagEType[0]">
                        <input type="radio" class="custom-control-input" id="cedula" 
                                value="cedula"
                                name="entrepreneur" 
                                formControlName="entrepreneur" 
                                (change)="changeParamEType($event)">
                        <label class="custom-control-label" for="cedula">Cedula</label>
                      </div>
                      <div [hidden]="!flagEType[0]">
                        <input type="text" 
                                class="form-control" 
                                name="InputCedula" 
                                id="InputCedula"
                                [(ngModel)]="ticketSearch.id_usuario_creacion"
                                (ngModelChange)="entrepreneurBrowse($event)" 
                                placeholder="Cedula">
                      </div>

                      <!-- Group of default radios - option 2 -->
                      <div class="custom-control custom-radio" [formGroup]="form" [hidden]="flagEType[1]">
                        <input type="radio" class="custom-control-input" id="nombre" 
                                value="nombre"
                                name="entrepreneur" 
                                formControlName="entrepreneur" 
                                (change)="changeParamEType($event)">
                        <label class="custom-control-label" for="nombre">Nombre</label>
                      </div>
                      <div [hidden]="!flagEType[1]">
                        <input type="text" 
                                class="form-control" 
                                name="InputNombre" 
                                id="InputNombre"
                                [(ngModel)]="ticketSearch.nombre_usuario_creacion"
                                (ngModelChange)="entrepreneurBrowse($event)" 
                                placeholder="Nombre">
                      </div>

                      <!-- Group of default radios - option 3 -->
                      <div class="custom-control custom-radio" [formGroup]="form" [hidden]="flagEType[2]">
                        <input type="radio" class="custom-control-input" id="email" 
                                value="email"
                                name="entrepreneur" 
                                formControlName="entrepreneur" 
                                (change)="changeParamEType($event)">
                        <label class="custom-control-label" for="email">E-mail</label>
                      </div>
                      <div [hidden]="!flagEType[2]">
                        <input type="text" 
                                class="form-control" 
                                name="InputEmail" 
                                id="InputEmail"
                                [(ngModel)]="ticketSearch.descripcion"
                                (ngModelChange)="entrepreneurBrowse($event)" 
                                placeholder="E-mail">
                      </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> 
  </div>
