<div class="modal-intro">
    <div class="text-left titulo-modal">
        <img src="images/logo_ce2.png" class="logoCE">
    </div>
    <div class="carousel-item contenido" data-interval="120000" style="display:block;" id="bloque1">
        <div class="row justify-content-center texto-modal">
            <div class="col-lg-9">
                <h4 class="mb-3 texto-modal">¡BIENVENIDO AL CENTRO DE EMPRENDIMIENTO!</h4> 
                <p class="mb-2 " style="font-size: 15px;">¿Estás listo para iniciar tu ruta de emprendimiento junto a nosotros?</p>
                <br>
                <p class="mb-2 text-left" style="font-size: 15px;">Te invitamos a tu primera sesión de inducción donde conocerás el plan que diseñamos para ti, nuestras instalaciones y cómo uttilizar nuestra plataforma de servicios. Lo realizaremos todos los lunes de manera presencial te invitamos que te registres
                    <a (click)="actualizar()" href="https://docs.google.com/forms/d/e/1FAIpQLSfs-jeF8f59womCaSpY5HRLTPP6EGIeHeLyYU8YMZ_XHrflPw/viewform?usp=pp_url" target="_blank">Aquí</a>
                </p>
                <!--br>
                <p class="mb-2 text-left" style="font-size: 15px;">Tendremos 2 horarios disponibles:</p>

                <p class="mb-2 text-left" style="font-size: 15px;"><strong>Lunes 28 de Septiembre 14h00 a 15h00 virtual</strong>
                    <br><a (click)="actualizar()" href="https://docs.google.com/forms/d/e/1FAIpQLSfs-jeF8f59womCaSpY5HRLTPP6EGIeHeLyYU8YMZ_XHrflPw/viewform?usp=pp_url" target="_blank">Regístrate</a></p>

                <p class="mb-2 text-left" style="font-size: 15px;"><strong>Lunes 05 de Octubre 14h00 a 15h00 presencial</strong>
                    <br>Registro máximo 30 personas link de registro:
                    <br><a (click)="actualizar()" href="https://docs.google.com/forms/d/e/1FAIpQLSfs-jeF8f59womCaSpY5HRLTPP6EGIeHeLyYU8YMZ_XHrflPw/viewform?usp=pp_url" target="_blank">Regístrate</a>
                </p-->

            </div>
        </div>
    </div>
</div>