.aut-bg-img-emprendedor{
    background-image: url("../../../images/FCO_9101.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.auth-wrapper .auth-content:not(.container) {
    width: 500px;
}