<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Calendario" cardClass="elite-calendar" [options]="false">
      <div class="app" *ngIf="!notSupported">
        <div class="app-calendar" *ngIf="calendarVisible">
          <full-calendar #calendar defaultView="dayGridMonth" [header]="{
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            }" locale="es" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [allDaySlot]="allDaySlot"
            [events]="calendarEvents" (dateClick)="handleDateClick($event)" (eventClick)="handleEventClick($event)"
            (eventRender)="eventRender($event)"></full-calendar>
        </div>
      </div>
      <div class="col-sm-12 text-center" *ngIf="notSupported">
        <div class="alert alert-danger"><code>css-animator</code> does not support in IE.</div>
      </div>
    </app-card>
  </div>
</div>

<!--div *ngIf="agendaSeleccionada">
  <div class="q-view" [ngClass]="agendaSeleccionada ? 'active' : ''">
    <div class="overlay" (click)="agendaSeleccionada = null;"></div>
    <div class="content">
      <app-reunion [agendaSeleccionada]="agendaSeleccionada" (cancelar)="agendaSeleccionada = null;" id_rubrica="3"
        codFormulario="FRMAT001"></app-reunion>
    </div>
  </div>
</div-->
